button {
    /* Color and background-color properties */
    color: red;
    background-color: #d3c349;
    /*background-color: #434699; !* #ffffff - #000000*!*/
    /*background-color: rgb(47, 141, 38);*/
    /*background-color: rgba(47, 141, 38, 0.5);*/

    /*!* Manipulating size *!*/
    width: 100px;
    height: 50px;
    /*width: 10%;*/
    /*height: 50%;  !* can't control plain buttons with percent by default *!*/

    /*!* Manipulating text *!*/
    font-family: "Roboto", serif;
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;

    /*!* CSS box model *!*/
    padding: 10px;
    margin: 20px;
    border: 2px dashed blue;
}