<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- MYSQL -->
        <!--<property name = "hibernate.dialect">org.hibernate.dialect.MariaDB103Dialect</property>-->
        <property name = "hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <property name = "hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name = "hibernate.connection.url">jdbc:mysql://localhost/users</property>
        <property name = "hibernate.connection.username">root</property>
        <property name = "hibernate.connection.password">root</property>

        <!-- ORACLE -->
        <!--<property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>-->
        <!--<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>-->
        <!--<property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.56.14:1521:xe</property>-->
        <!--<property name="hibernate.connection.username">SYSTEM</property>-->
        <!--<property name="hibernate.connection.password">root</property>-->

        <property name="connection.pool_size">5</property>

        <!-- CREATE: creates the schema necessary for your entities, destroying any previous data on startup -->
        <!-- UPDATE: update the schema to reflect the entities being persisted -->
        <!-- CREATE-DROP: very important to have correct dialect for this DDL auto option -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <!--<property name="hibernate.hbm2ddl.auto">validate</property>-->
        <!--<property name="hibernate.hbm2ddl.auto">create-drop</property>-->

        <!-- Debugging the SQL statements generated by Hibernate -->
        <!--<property name="show_sql">true</property>-->
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>

        <!--Startup performance (very much relevant to Oracle) -->
        <!--<property name="hibernate.jdbc.use_get_generated_keys">true</property>-->
        <!--<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>-->

        <!-- Mappings or classes (annotation based) -->
        <!-- CRUD EXAMPLES -->
        <!--<mapping class="cf.mindaugas.sdademos._05_jdbchibernatemongodriveriver.hibernate.model.User"/>-->
        <!--<mapping class="cf.mindaugas.sdademos._05_jdbchibernatemongodriveriver.hibernate.model.Contact"/>-->
        <!--<mapping class="cf.mindaugas.sdademos._05_jdbchibernatemongodriveriver.hibernate.model.UserWPhone"/>-->
        <!--<mapping class="cf.mindaugas.sdademos._05_jdbchibernatemongodriveriver.hibernate.model.LibraryUser"/>-->
        <!--<mapping class="cf.mindaugas.sdademos._05_jdbchibernatemongodriveriver.hibernate.model.Book"/>-->

        <!--<mapping class="cf.mindaugas.sdademos._05_jdbchibernatemongodriveriver.hibernate.model.onetoone.UserOneToOne"/>-->
        <!--<mapping class="cf.mindaugas.sdademos._05_jdbchibernatemongodriveriver.hibernate.model.onetoone.AddressOneToOne"/>-->

        <!--<mapping class="cf.mindaugas.sdademos._05_jdbchibernatemongodriveriver.hibernate.model.onetomany.UserOneToMany"/>-->
        <!--<mapping class="cf.mindaugas.sdademos._05_jdbchibernatemongodriveriver.hibernate.model.onetomany.BookOneToMany"/>-->

        <!--<mapping class="cf.mindaugas.sdademos._05_jdbchibernatemongodriveriver.hibernate.model.manytomany.Book"/>-->
        <!--<mapping class="cf.mindaugas.sdademos._05_jdbchibernatemongodriveriver.hibernate.model.manytomany.Author"/>-->
        <!--<mapping class="cf.mindaugas.sdademos._05_jdbchibernatemongodriveriver.hibernate.model.manytomany.Employee"/>-->
        <!--<mapping class="cf.mindaugas.sdademos._05_jdbchibernatemongodriveriver.hibernate.model.manytomany.Project"/>-->


        <!--<mapping class="cf.mindaugas.sdademos._05_jdbchibernatemongodriveriver.hibernate.model.hql.UserWPhoneObject"/>-->
        <!--<mapping class="cf.mindaugas.sdademos._05_jdbchibernatemongodriveriver.hibernate.model.hql.Phone"/>-->

        <!--<mapping class="cf.mindaugas.sdademos._05_jdbchibernatemongodriveriver.hibernate.model.UserCloneable"/>-->

        <!-- Mappings or files (XML based)  -->
        <!--<mapping resource = "cf/mindaugas/sdademos/_05_jdbchibernatemongodriver/hibernate/model/AppUserParent.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>
